.todo-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  &__open,
  &__close {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    background: transparent;
  }
  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
  }
  &__change {
    width: 100%;
    padding: 20px;
    background: #f4f4f4;
  }
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__form {
    textarea {
      width: 100%;
      height: 110px;
      margin-top: 20px;
      padding: 10px;
      font-size: 18px;
      outline: none;
      border: 1px solid #b5b5ba;
      border-radius: 6px;
      background: transparent;
    }
    .textarea {
      color: #000;
      border-color: #b5b5ba;
    }
    .textarea-error {
      color: #f16d7f;
      border-color: #f16d7f;
    }
  }
  &__error {
    font-size: 16px;
    color: #f16d7f;
  }
  &__btns {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    .btn-change,
    .btn-delete {
      padding: 10px 20px;
      font-weight: 700;
      font-size: 16px;
      border-radius: 6px;
      border: 2px solid #b5b5ba;
      color: #b5b5ba;
      background: transparent;
      transition: all 0.2s ease;
    }
    .btn-change {
      &:hover {
        border-color: #ffa500;
        color: #000;
        background: #ffa500;
      }
      &:active {
        border-color: #724a00;
        background: #724a00;
      }
    }
    .btn-delete {
      &:hover {
        border-color: #f16d7f;
        color: #000;
        background: #f16d7f;
      }
      &:active {
        border-color: #74343c;
        background: #74343c;
      }
    }
  }
}
